.dropdown-menu {
	position: unset;
	float: none;
	text-align: center;
	/*display: list-item;
	 display: none; */
}

.scroll_m_wrapper {
	padding: 10px;
	text-align: center;
}

.dropdown.scroll_m_div {
	display: inline;
	width: 50%;
}

.dropdown-toggle.scroll_m_menu {
	padding-right: 12px;
	width: 50%;
}

.dropdown-item.scroll_m_item {
	width: 100px;
}

.btn-outline-dark.scroll_m_save {
	
}

.scroll_m_sel_btn.show {
	display:contents;
	width: 50%;
	font-size: 0.5em;
}

.scroll_m_sel_btn {
	/*width: 99%;*/
	font-size: 0.5em;
}

.scroll_m_question_popup {
	display: none;
}

.modal.scroll_m_question_popup {
	top: 0px;
	left: 0px;
}

.modal-dialog.scroll_m_dialog {
	width: 350px;
	max-width: 350px;
	margin: 0px auto;
	text-align: -webkit-center;
	/*top:30%;*/
}

.modal-content.scroll_m_content {
	width: 60%;
}

.modal-body.scroll_m_body {
	align-text: center;
}

/* 키워드 입력 부분*/
.scroll_pop_input {
	width: 125px;
	-webkit-transition: 0.5s; /* focus 받았을 때 시간을 두기 위함.*/
	transition: 0.5s;
	border: none;
	outline: none; /* chrome 기본 focus event를 제거하기 위함 */
	border-bottom: 2px solid #2872BC;
}

/* 키워드 입력 부분 focus 이벤트 받았을 때 */
.scroll_pop_input:focus {
	border-bottom: 3px solid #070294;
}

/* 키워드 입력 안됬을 때 보이는 input */
.scroll_pop_chk_p {
	display: none;
	font-color: red;
	font-size: 12px;
	padding: 10px;
}