<!-- 180712 hwi
	 스크롤 맨 위, 아래 버튼 start -->
<div class="scroll_mm_div">
	<i class="fas fa-arrow-alt-circle-up scroll_top"></i>
	<i class="fas fa-arrow-alt-circle-down scroll_bottom"></i>			
</div>
<!-- scroll top, bottom end -->

<div id="panel-btn" class="draggable">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>
<div id="panel" class="panel">
	<a href="javascript:void(0)" id="panel-close-btn">&times;</a>
	<div class="container">
		<div class="row">
			<button id="btn-orderlist" class="btn btn-primary func-orderlist">구매목록</button>
		</div>
		<div class="func1" id="func1">
			<p>리모컨</p>
		</div>
		<div class="func2" id="func2">
			<p>공유하기</p>
		</div>
	</div>
</div>
<div id="panel-func-orderlist"></div>
