<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Shopping Mall</title>
<script src="/assets/js/skel.js"></script>
</head>
<body>

	<div id="panel-btn" class="draggable">open</div>
	<div id="panel" class="panel">
		<a href="javascript:void(0)" id="panel-close-btn">&times;</a>
		<div class="container">
			<div class="row">
				<button id="btn-orderlist" class="btn btn-primary func-orderlist">구매목록</button>
			</div>
			<div class="row">
				<p>리모컨</p>
			</div>
			<div class="row">
				<p>최근본상품</p>
			</div>	
		</div>
	</div>
	<!-- <jsp:include page="/function/orderlist/orderlist_popuplayer.jsp" /> -->
</body>
</html>