@charset "UTF-8";

/* panel-btn draggable / panel css */
#panel-btn {
	cursor: pointer;
	width: 5em;
	height: 5em;
	padding: 0.5em;
	margin: 0 0.625em 0.625em 0;
	position: absolute;
	right: 0;
	top: 25%;
	border: 1px solid black;
	text-align: center;
	line-height: 5em;
}
.panel {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: lightgray;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 3.750em;
}
.panel a {
	text-decoration: none;
	font-size: 1.563em;
	color: #818181;
	display: block;
	transition: 0.3s;
}
.panel a:hover {
	color: #f1f1f1;
}
.panel #panel-close-btn {
	position: absolute;
	top: 0;
	right: 5%;
	font-size: 2.25em;
	text-decoration: none;
}
@media screen and (max-height: 28.125em) {
	.panel {
		padding-top: 0.938em;
	}
	.panel a {
		font-size: 1.125em;
	}
}

#panel .container .row > * {
	margin: 0.313em auto;
	
}

