@charset "EUC-KR";

/* orange theme */

/* 
 * Tag 단위 css 
 */
/* panel css */
.plt-pn {
  font-family: sans-serif !important;
  background-color: rgba(255, 255, 255, 1);
  color: #000;
  /* border: 1px solid #000; */
  text-shadow: none;
  /****************************************************************/
  /* 개별 단위 css */
  /****************************************************************/
  /* panel button 관련 css */
}
.plt-pn-box {
  padding: 1.063em 0;
  border-top: 0.063em solid #ececec;
  border-bottom: 0.063em solid #ececec;
  margin: 1.25em 2.5em;
}
.plt-pn-a {
  /* <a> css */
  text-decoration: none !important;
  color: #000 !important;
  font-weight: normal !important;
}
.plt-pn-a :hover {
  text-decoration: none !important;
  cursor: pointer !important;
  color: orange !important;
  font-weight: bold !important;
}
.plt-pn-li {
  /* <li> css*/
  border: 1px solid orange !important;
  background-color: orange;
}
.plt-pn-i {
  /* <i> css */
  color: orange;
}
.plt-pn-hr {
  /* <hr> css */
}
.plt-pn-hr-solid, .plt-pn-hr-thin {
  margin-top: 0.563em !important;
  margin-bottom: 0.563em !important;
}
.plt-pn-hr-solid {
  border-top: 0.063em solid #000 !important;
}
.plt-pn-hr-thin {
  border-top: 0.063em thin #000 !important;
}
.plt-pn-hr-space-l {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}
.plt-pn-hr-space-s {
  margin-top: 0.125em !important;
  margin-bottom: 0.125em !important;
}
.plt-pn-bg {
  /* background */
  background: orange !important;
  color: #fff !important;
  font-weight: bold;
}
.plt-pn-border {
  /* border */
}
.plt-pn-border-dotted {
  border: 0.125em dotted #000 !important;
}
.plt-pn-border-solid {
  border: 0.125em solid #000 !important;
}
.plt-pn-border-color {
  border-color: orange !important;
}
.plt-pn-font {
  /* font */
  color: orange;
}
.plt-pn-font-l {
  font-size: 1.25em !important;
}
.plt-pn-font-m {
  font-size: 1em !important;
}
.plt-pn-font-s {
  font-size: 0.688em !important;
}
.plt-pn-font-b {
  font-weight: bold !important;
}
.plt-pn-font-n {
  font-weight: normal !important;
}
.plt-pn-font-black * {
  color: #000;
}
.plt-pn-btn {
  /* default, inverse btn commoness part */
  width: 80%;
  padding: 0.25em 0.375em;
  border-radius: 0.25em;
  text-align: center;
  /* mobile button */
}
.plt-pn-btn-default {
  /* default btn css */
  background-color: orange !important;
  color: #fff !important;
}
.plt-pn-btn-default-empty {
  /* default 버튼의 비어있는 버전 */
  border: 0.063em solid orange !important;
  color: #000 !important;
}
span.plt-pn-btn-default:hover {
  /* button 기능하는 <span> tag */
  cursor: pointer;
}
.plt-pn-btn-inverse {
  /* inverse btn css */
  background-color: #0080ff !important;
  color: #fff !important;
}
span.plt-pn-btn-inverse:hover {
  cursor: pointer;
}
.plt-pn-btn-simple {
  /* button simple css (bg X, color: black, border X) */
  /* background-color: $whiteColor !important; */
  color: #000 !important;
}
span.plt-pn-btn-simple:hover {
  /* button 기능하는 <span> tag */
  cursor: pointer;
}
a.plt-pn-btn-inverse {
  /* button 기능하는 <a> tag */
  border: 0.063em solid black;
}
a.plt-pn-btn-inverse :hover {
  cursor: pointer;
}
a.plt-pn-btn-simple {
  /* border: 0.063em solid black; */
}
a.plt-pn-btn-simple :hover {
  cursor: pointer;
  color: orange !important;
}
.plt-pn-btn-active, .plt-pn-btn-inactive {
  border: 2px solid orange !important;
}
.plt-pn-btn-active {
  background-color: orange !important;
  color: #fff !important;
}
.plt-pn-btn-inactive {
  background-color: #fff !important;
  color: #000 !important;
}
