@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
	height: 100%;
}

/* width가 570이하 일 때 css */
@media(max-width:570px){
	.inner {
		width: 100%; 
		height: 98%;
		padding: 15px; 
		padding-bottom : 0px;
		padding-top: 10px; 
	}
	
	.nav-pagination{
		position: absolute;
		top : 29px;
		right: 0;
	}
	
	.nav-pagination ul{
		width: 100%;
	}
	 
	.custom-pagination-ul{
		width: 100%;
	}
	
	.palette-title{
		width: 100%;
		padding : 15px; 
		padding-bottom : 0; 
		background-color: #563d7c;
		color : #fff;
		margin: 0px auto;
	}
	
	#panel-tabs{
		width: 100%;
		height : 100%;
		background-color: #fff;
		margin: 0px auto;
		border-left: 1px solid #ececec;
		border-right: 1px solid #ececec;
		border-bottom: 1px solid #ececec;
	}
}

/* width가 최소 570 일 때  (570보다 클 때)*/
@media(min-width:570px){
	.inner {
		width: 100%; 
		height: 98%;
		padding: 15px;
		padding-bottom : 0px;
		padding-top: 10px; 
	}
	
	.palette-title{
		width : 100%; 
		padding : 15px;
		padding-bottom : 0; 
		background-color: #563d7c;  
/* 		border-top-left-radius : 10px;
		border-top-right-radius : 10px; */
		color : #fff;
		margin: 0px auto;
	}
	
	#panel-tabs{
		width : 100%; 
		height : 100%;
		background-color: #fff;
		margin: 0px auto;
		border-left: 1px solid #ececec;
		border-right: 1px solid #ececec;
		border-bottom: 1px solid #ececec;
	}
}

/* width */
.theme-list-div::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.theme-list-div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
.theme-list-div::-webkit-scrollbar-thumb {
    background: #563d7c;; 
    border-radius: 10px;
} 

body{
	background-color: #fff;
}

/* scrollbar 없애기 단, scroll 기능 가능 */
body::-webkit-scrollbar{ 
	/* display: none; */ 
}

li{
	border-color: #c5c5c5;
    background-color: #fff;
}

.container {
	background-color: #fff;
	margin-top: 50px; 
	position: relative;
	border-radius: 10px;
}

.setting-container{
	margin: 0;
	padding: 0;
}

.container-fluid{
	
}

.fouc{
	display: none;
}

.palette-title{
	width : 85%;
	padding : 15px;
	background-color: #563d7c;  
/* 	border-top-left-radius : 10px;
	border-top-right-radius : 10px; */
	color : #fff;
	margin: 0px auto;
}

#panel-tabs{ 
	width : 85%;
	background-color: #fff;
	margin: 0px auto;
	border-left: 1px solid #ececec;
	border-right: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
} 
 
.tab-content{
	height: 85%;
}

.tab-pane{
	height: 100%;
}

.palette-title > h1{
	font-size : 1.5rem;
	padding-left: 10px;
	font-weight: 500; 
}

.palette-title > i{
	font-size: 1.8em;
}

.progress{
	height : 10px;
	border-radius: 0;
}

.button {
	background-color: white; /* Green */
	border: 2px solid #555555;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.button:hover {
	background-color: #555555;
	color: white;
}

.button:hover::after {
	background-color: #555555;
	color: white;
	content: 'test';
}

/* Tab 비활성화 */
.disable{
	cursor: not-allowed;
}

.nav-tabs>li>a{
	pointer-events: none;
	border: 0px; 
	border-bottom : 2px solid #fff;
	border-radius: 0px;
	color : #4285f4;
	padding-left: 5px;
	z-index : 0;
}

.nav-tabs>li.active>a{
	border: 0px;
	background-color: #58C9B9;
	border-radius: 0px;
}

/* a태그 방문 전 링크 상태 */
.nav-tabs>li>a:link{
	border-radius: 0px;
	border: 0px;
	margin : 0px;
	font-weight: 500;
	padding-top: 3px;
	padding-bottom: 3px;
}
 
.nav-tabs>li{ 
    float: left;
    position: relative;
	margin: 0px;
	padding-left : 17px; 
} 

.nav-tabs>li.complete{ 
	padding-left: 0px;
	border : none; 
	padding-left: 17px;
}

.nav-tabs>li.step{
	background-color: #ededed;
}

.chevron{
	border: 15px solid transparent;
    border-left: 17px solid #c5c5c5;
    border-right: 0;  
    content: ""; 
    display: block;  
    position: absolute; 
    right: -18px; 
    top: 0px;   
    z-index : 1;
}

.chevron:before {
	border: 15px solid transparent;
	border-left: 17px solid #ededed;
	border-right:0; 
	right: 1px; 
	top: -15px;
	display:block;
	position:absolute; 
	content: ""; 
}

.chevron.complete{
	border: 15px solid transparent;
    border-left: 17px solid #c5c5c5;
    border-right: 0;  
    content: "";
    display: block;
    position: absolute; 
    right: -18px; 
    top: 0px;   
    z-index : 1; 
} 

.chevron.complete:before{
	border: 15px solid transparent; 
	border-left: 17px solid #58C9B9;  /* 현재 탭의 삼각형 색 */
	border-right:0; 
	right: 1px; 
	top: -15px; 
	display:block;
	position:absolute;
	content: "";
}

.nav-pagination{
	padding-bottom: 15px;
}

.nav-pagination button{
	padding: 0;
	margin: 0;
}

.nav-pagination i{
	line-height: 0; 
}

.nav-pagination ul li{
	border-radius: .25rem; 
}

.custom-pagination-ul{
	width: 10%;
	margin: 0px auto; 
}

.palette-modal-header{
	padding: 0;
	background-color: #563d7c;
}

.palette-modal-title{
	padding-top : 5px;
	padding-left : 0px; 
	color : #fff;
	border-top-left-radius: 12px;
	margin-left: 10px;
}

.palette-modal-footer{
	padding: 5px;
}

.palette-modal-btn{
	padding: 5px; 
}

i {
	margin-bottom: 0 !important;
}

#pager-previous {
	margin-right: 10px;
}

#pager-previous, #pager-next, #pager-save {
	padding: 5px 8px;
}

/*===================== preview_panel ==============================*/
#preview_sortable{
	list-style: none;
}

.preview_func_div{
	display: none;
}

#gomain:hover {
	color: white !important;
	text-decoration: none;
}

#gomain:hover i.fa-undo-alt {
	-webkit-animation: rotation 1.5s infinite linear;
}

@-webkit-keyframes rotation {
	from {
			-webkit-transform: rotate(359deg);
	}
	to {
			-webkit-transform: rotate(0deg);
	}
}