@charset "EUC-KR";

/* 
 * Tag 단위 css 
 */
 
/* panel css */
.plt-pn {
	font-family: sans-serif !important;
	background-color: rgba(255, 255, 255, 1);
	color: black;
	/* border: 1px solid #000; */
	text-shadow: none;
	box-shadow: 0.188em 0.188em 0.313em;
	overflow: hidden !important;
}

/* paenl div css */
.plt-pn-box {
	padding: 1.063em 0;
	border-top: 0.063em solid #dcdcdc;
	border-bottom: 0.063em solid #dcdcdc;
	margin: 1.250em 2.500em;
}

/* 
 * panel button css 
 */
.plt-pn-btn-default, .plt-pn-btn-inverse {
	width: 80%;
	padding: 0.250em 0.375em;
	border-radius: 0.250em;
	text-align: center;
}
.plt-pn-btn-default {
	background-color: orange !important; 
	color: white !important;
}
/* button 기능하는 <span> tag */
span.plt-pn-btn-default:hover  {
	cursor: pointer;
}

/* 
 * button inverse css 
 */
.plt-pn-btn-inverse {	
	background-color: #0080ff !important; 
	color: #fff !important;
}
/* button 기능하는 <span> tag */
span.plt-pn-btn-inverse:hover {
	cursor: pointer;
}
/* button 기능하는 <a> tag */
a.plt-pn-btn-inverse {
	border: 0.063em solid black;
}
a.plt-pn-btn-inverse:hover {
	cursor: pointer;
}
/* 
 * button simple css (bg X, color: black, border X)
 */
.plt-pn-btn-simple {	
	/* background-color: #ffffff !important; */ 
	color: #000000 !important;
}
/* button 기능하는 <span> tag */
span.plt-pn-btn-simple:hover {
	cursor: pointer;
}
/* button 기능하는 <a> tag */
a.plt-pn-btn-simple {
	/* border: 0.063em solid black; */
}
a.plt-pn-btn-simple:hover {
	cursor: pointer;
	color: orange !important;
}

/* 
 * <a> css 
 */
.plt-pn-a {
	text-decoration: none !important;
	color: #000 !important;
	font-weight: normal !important;
}
.plt-pn-a:hover {
	text-decoration: none !important;
	cursor: pointer !important;
	color: orange !important;
	font-weight: bold !important;
}

/* <li> css*/
.plt-pn-li {
	border: 1px solid orange !important;
	background-color: orange;
}

/* <i> css */
.plt-pn-i {
	color: orange;
}

/* <hr> css */
.plt-pn-hr-solid, .plt-pn-hr-thin {
	margin-top: 0.563em !important;
	margin-bottom: 0.563em !important;
}
.plt-pn-hr-solid {
	border-top: 0.063em solid black !important;
}
.plt-pn-hr-thin {
	border-top: 0.063em thin black !important;
}
.plt-pn-hr-space-l {
	margin-top: 1em !important;
	margin-bottom: 1em !important;
}
.plt-pn-hr-space-s {
	margin-top: 0.125em !important;
	margin-bottom: 0.125em !important;
}

/* ======================================== */
/*
 * 개별 단위 css
 */
 
 /* background */
.plt-pn-bg {	
	background: #e0e0e0 !important;
	color: #fff !important;
}

/* 
 * border 
 */
.plt-pn-border-dotted {
	border: 0.125em dotted #e0e0e0 !important;	
}
.plt-pn-border-solid {
	border: 0.125em solid #e0e0e0 !important;
}

/*
 * font
 */
 .plt-pn-font-l {
 	font-size: 1.250em !important;
 }
 .plt-pn-font-m {
 	font-size: 1em !important;
 }
 .plt-pn-font-s {
 	font-size: 0.688em !important;
 }
 .plt-pn-font-b {
 	font-weight: bold !important;
 }
 .plt-pn-font-n {
 	font-weight: normal !important;
 }
