@charset "UTF-8";
/* popup css */
.popupLayer.orderlist {
	display: none;
	font-weight: normal;
	height: 100%;
	max-width: 40em;
	padding: 0.2em 0.625em;
	margin: 0 auto;
}
.popupLayer.orderlist hr {
	height: 1%;
}
.popupLayer.orderlist hr, .popupLayer.orderlist #popup-orderlist {
	margin: 0 0;
}
.popupLayer.orderlist #popup-header {
	font-size: 14px;
}
.popupLayer.orderlist #popup-orderlist {
	margin-top: 0.625em;
	height: 77%;
    overflow: auto;
    overflow-x: hidden;
}
.popupLayer.orderlist #popup-header #popup-period #popup-close {
	position: absolute;
	top: 0;
	right: 5%;
	font-size: 2.25em;
	text-decoration: none;
}
.popupLayer.orderlist #popup-header #popup-period #popup-close:hover {
	cursor: pointer;
}
.popupLayer.orderlist #popup-period,
.popupLayer.orderlist #popup-header #popup-chkbox,
.popupLayer.orderlist #popup-orderlist .container-layout .container .row,
.popupLayer.orderlist #popup-close button {
	margin-top: 0.625em;
}
/* card css */
#popup-orderlist .card .card-header {
	font-size: 16px;
}
#popup-orderlist .card .card-body {
	font-size: 16px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#popup-orderlist .card .card-body .row div:nth-child(2) {
	padding-top: 13px;
}
#popup-orderlist .card .card-body .order-pdt-info {
	margin-top: 0.625em;
}
/* card 내부 */
#popup-orderlist .card .card-body .order-pdt-info .info-title {
	font-size: 12px;
	font-weight: bold;
}
#popup-orderlist .card .card-body .order-pdt-info p {
	margin-bottom: 0.625em;
	padding-left: 15px;
}
#popup-orderlist .card .card-body .order-pdt-info .info-tags {
 	color: #0e89ed;
 	font-size: 12px;
 }
#popup-orderlist .card .card-body .order-pdt-info .info-smallimage, 
#popup-orderlist .card .card-body .order-pdt-info .info-detail-link{
 	width:100%; 
 	max-width: 30.625em; 
 	min-width:7.5em;
 }
#popup-orderlist .card .card-body .order-pdt-info .info-detail-link {
	display: block;
}