@charset "UTF-8";

/* popup css */
.popupLayer {
	position: fixed;
	display: none;
	background-color: #ffffff;
	border: solid 0.125em #d0d0d0;
	width: 40%;
	height: 60%;
	max-width: 34.375em;
	min-width: 15.625em;
	padding: 0.2em 0.625em;
	overflow: hidden;
}
.popupLayer hr {
	height: 1%;
}
.popupLayer hr, .popupLayer #popup-orderlist {
	margin: 0 0;
}
.popupLayer #popup-header {
	font-size: 0.813em;
}
.popupLayer #popup-orderlist {
	margin-top: 0.625em;
	height: 77%;
    overflow: auto;
    overflow-x: hidden;
}
.popupLayer #popup-header #popup-period #popup-close {
	position: absolute;
	top: 0;
	right: 5%;
	font-size: 2.25em;
	text-decoration: none;
}
.popupLayer #popup-header #popup-period #popup-close:hover {
	cursor: pointer;
}
.popupLayer #popup-header #popup-chkbox,
.popupLayer #popup-orderlist .container-layout .container .row,
.popupLayer #popup-close button {
	margin-top: 0.625em;
}
/* card css */
.card .card-body {
	font-size: 0.688em;
	padding-top: 0px;
}
.card .card-body .order-product-info {
	margin-top: 0.625em;
}